body, html {
  width: 100%;
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(../img/moon.jpg) no-repeat center center;
  background-size: cover;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message>h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message>h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-social-buttons i {
  font-size: 80%;
}

@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }
  .intro-message>h1 {
    font-size: 3em;
  }
  ul.intro-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.intro-social-buttons>li:last-child {
    margin-bottom: 0;
  }
  .intro-divider {
    width: 100%;
  }
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;

  background-color: #51514D !important;
  background-size: cover;
}

.banner h2 {
  margin: 0;
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  .banner h2 {
    margin: 0;
    font-size: 3em;
  }
  ul.banner-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons>li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 50px 0;
  background-color: #f8f8f8;
}

p.copyright {
  margin: 15px 0 0;
}

/*
 *Scrolling
 http://jsfiddle.net/YYPKM/3/
 */

a[ id= "about" ]:target {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}

a[ id= "contact" ]:target {
    -webkit-transform: translateY( -500px );
    transform: translateY( -500px );
}

.tooltip-inner {
  background-color: white !important;
  /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
  color: black;
}

.tooltip.top .tooltip-arrow {
  border-top-color: white;
}

.tooltip.right .tooltip-arrow {
  border-right-color: white;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: white;
}

.tooltip.left .tooltip-arrow {
  border-left-color: white;
}

footer a {
  color: darkgrey;
}
footer a:hover {
  color: black;
  text-decoration: none;
}

.headshot {
  box-shadow: 8px 8px 10px #aaa;
  border-radius: 5px;
}

#headshot-column {
  margin: 0 10px;
}

.list-docs {
  margin-top: 0.75rem;
  margin-left: 1.25rem;
}

.list-docs li {
  margin-bottom: 1%;
  font-weight: 400;
}

.list-docs .authors {
  color: rgba(0,0,0,0.6);
  font-size: 0.85rem;
}

.accordion .card {
  margin: 5px;
}
.accordion h5 {
  font-weight: 500;
}
.accordion .card-header:hover {
  cursor: pointer;
}

[data-toggle~="collapse"] {
    cursor: pointer;
}

.centered {
  margin-right: auto;
  margin-left: auto;
}

#about {
  padding-top: 100px;
  padding-bottom: 50px;
}

.navbar-fixed-top {
  background-color: #51514D !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top .navbar-toggler {
  color: #f8f9fa;
}

.navbar-fixed-top .navbar-brand, .navbar-fixed-top .navbar-nav .nav-link {
  color: #fff !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled {
  background-color: #f8f9fa !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .navbar-brand, .navbar-fixed-top.scrolled .navbar-nav .nav-link {
  color: #000 !important;
  transition: background-color 200ms linear;
}

.list-group {
    font-weight: 400;
    max-height: 175px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.card {
  font-weight: 300;
}

.card-title {
  font-weight: normal;
}

.card-img-top {
  height: 25vw;
  object-fit: cover;
}

@media(max-width:767px) {
  .card-img-top {
    height: 80vw;
  }
}

a:hover {
  text-decoration: none;
}
