<section class="content-section-a" id="about">

      <div class="container">

        <div class="row">
          <div id="headshot-column" class="col-md-4 ml-auto">
            <img class="img-fluid headshot" src="img/RyanSteed_Headshot.jpg" alt="">
          </div>
          <div class="col-lg-5 mr-auto order-lg-1">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">
              About
            </h2>
            <p class="lead">
              Ryan Steed is a data scientist, project manager, and student.
              He is studying Computational Economics at The George Washington University after graduating from the <a href="https://www.ncssm.edu">North Carolina School of Science and Mathematics</a> in 2017.
              He is also a Technology Fellow and project manager at the <a target="_touch" href="http://gwic.io">Innovation Center</a>, George Washington's student startup incubator and innovation accelerator.
            </p>
            <br>
            <div>
              <a href="docs/steed-cv.pdf" class="btn btn-secondary btn-lg">
                <i class="far fa-file-alt fa-fw"></i>
                <span class="network-name">Curriculum Vitae</span>
              </a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>