<section class="content-section-a" id="about">

      <div class="container">

        <div class="row">
          <div id="headshot-column" class="col-md-4 ml-auto">
            <img class="img-fluid headshot" src="img/RyanSteed_Headshot.jpg" alt="">
          </div>
          <div class="col-lg-5 mr-auto order-lg-1">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">
              Ryan Steed
            </h2>
            <p class="lead">
              I am a researcher, data scientist, and project manager. Currently, I am a first-year PhD student at Carnegie Mellon's <a href="https://www.heinz.cmu.edu/">Heinz College of Information Systems & Public Policy</a>. Previously, I studied Computational Economics at the George Washington University. I am also an alum of the <a href="https://www.ncssm.edu">North Carolina School of Science and Mathematics</a>.
            </p>
            <br>
            <ul class="list-inline banner-social-buttons" style="float: none">
              <li class="list-inline-item">
                <a href="https://github.com/ryansteed" target="_blank">
                  <i class="fa fa-github fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://gitlab.com/ryansteed" target="_blank">
                  <i class="fa fa-gitlab fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/steedryan/" target="_blank">
                  <i class="fa fa-linkedin fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://scholar.google.com/citations?user=3L0OFOcAAAAJ" target="_blank">
                  <i class="ai ai-google-scholar fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="docs/steed-cv.pdf" target="_blank">
                  <i class="ai ai-cv fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>