<section class="content-section-a" id="about">

      <div class="container">

        <div class="row">
          <div id="headshot-column" class="col-md-4 ml-auto">
            <img class="img-fluid headshot" src="img/RyanSteed_Headshot.jpg" alt="">
          </div>
          <div class="col-lg-5 mr-auto order-lg-1">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">
              Ryan Steed
            </h2>
            <p class="lead">
              I am a researcher, data scientist and project manager.
              I study Computational Economics at The George Washington University. I graduated from the <a href="https://www.ncssm.edu">North Carolina School of Science and Mathematics</a> in 2017.
              I am also a Technology Fellow and project manager at the <a target="_touch" href="http://gwic.io">Innovation Center</a>, George Washington's social innovation accelerator.
            </p>
            <br>
            <ul class="list-inline banner-social-buttons" style="float: none">
              <li class="list-inline-item">
                <a href="docs/steed-cv.pdf" target="_blank" class="btn btn-secondary btn-lg">
                  <i class="far fa-file-alt fa-fw"></i>
                  <span class="network-name">C.V.</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/ryansteed" target="_blank" class="btn btn-secondary btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/steedryan/" target="_blank" class="btn btn-secondary btn-lg white-tooltip">
                  <i class="fa fa-linkedin fa-fw"></i>
                  <span class="network-name">LinkedIn</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>