<aside class="banner">

  <div id="contact" class="container">

    <div class="row">
      <div class="col-lg-3 ml-auto">
        <h2>Contact</h2>
      </div>
      <div class="col-lg-5 mr-auto">
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="mailto:webmaster@rbsteed.com" class="btn btn-secondary btn-lg">
              <i class="fa fa-envelope fa-fw"></i>
              <span class="network-name">Email</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/ryansteed" class="btn btn-secondary btn-lg">
              <i class="fa fa-github fa-fw"></i>
              <span class="network-name">Github</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/steedryan/" class="btn btn-secondary btn-lg white-tooltip">
              <i class="fa fa-linkedin fa-fw"></i>
              <span class="network-name">Linkedin</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <!-- /.container -->

</aside>
<!-- /.banner -->

<!-- Footer -->
<footer>
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#home">Home</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#about">About</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#other-work">Research</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#portfolio">Portfolio</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</footer>