<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="The personal profile and project feature page for Ryan Steed." />
<meta name="keywords" content="Ryan Steed, CMU, GWU, Pittsburgh, Durham, DC"></meta>
<meta property="og:description" content="Featured projects, bio, and contact information for Ryan Steed.">
<meta name="author" content="Ryan Steed">
<meta property="og:type" content="website" />
<meta property="og:title" content="Ryan Steed - Homepage" />
<meta property="og:url" content="https://rbsteed.com"  />
<meta property="og:image" content="/img/RyanSteed_Headshot.jpg" />
<meta property="og:image:width" content="100" />
<meta property="og:image:height" content="100" />
<meta name="twitter:card" content="summary_large_image">
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">

<title>Ryan Steed - Homepage</title>