<!-- Header -->
<header class="intro-header">
  <div class="container">
    <div class="intro-message">
      <h1>Ryan Steed</h1>
      <!-- <h3>Personal Portfolio</h3> -->
      <hr class="intro-divider">
      <ul class="list-inline intro-social-buttons">
        <li class="list-inline-item">
          <a href="https://github.com/ryansteed" class="btn btn-secondary btn-lg"
            data-toggle="tooltip"
            title="Independent or collaborative full-stack software development projects, packages, and algorithms."
            data-placement="bottom">
            <i class="fa fa-github fa-fw"></i>
            <span class="network-name">Github</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/steedryan/" class="btn btn-secondary btn-lg white-tooltip"
          data-toggle="tooltip"
          title="Professional profile and resumé."
          data-placement="bottom">
            <i class="fa fa-linkedin fa-fw"></i>
            <span class="network-name">Linkedin</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>