<section id="portfolio" class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-9" style="margin: auto auto;">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">
          Projects
        </h2>
        <div class="row">
      {% for item in site.data.portfolio %}
      {% unless item.exclude %}
      <div class="col-lg-6 mb-4 centered">
        <div class="card h-100">
          <a href="{{item.url}}"><img class="card-img-top" src="{{item.img}}" alt="" style="object-fit: {{item.imgfit}}"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{item.url}}">{{item.title}}</a>
            </h4>
            <p class="card-text">{{item.description}} {% if item.github %}<a href="https://github.com/{{item.github}}"><i class="fa fa-github"></i></a>{% endif %}{% if item.news %}<a href="{{item.news}}"><i class="fas fa-rss-square"></i></a>{% endif %}</p>
          </div>
        </div>
      </div>
      {% endunless %}
      {% endfor %}
    </div>
      </div>
    </div>
    
  </div>
</section>