<section class="content-section-b" id="other-work">

  <div class="container">

    <div class="row">
      <div class="col-lg-9" style="margin: auto auto;">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">
          Research
        </h2>

        <p class="lead">
          My research interests span algorithmic bias, private & fair machine learning, and public policy.
          <br>
          <br>
          I am co-advised by <a href="https://www.heinz.cmu.edu/~acquisti">Alessandro Acquisti</a> and <a href="http://www.andrew.cmu.edu/user/achoulde">Alexandra Chouldechova</a>. My undergraduate work was advised by <a href="https://www2.seas.gwu.edu/~aylin/">Aylin Caliskan</a>, <a href="https://www2.seas.gwu.edu/~simha/">Rahul Simha</a>, and <a href="https://benjamindwilliams.weebly.com">Ben Williams</a>.
        </p>

        <hr>

        <div class="accordion" id="work">
          {% for section in site.data.research %}
          {% if section.data %}
          <div class="card">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#{{section.id}}" href="#{{section.id}}" aria-expanded="{{forloop.first}}" aria-controls="{{section.id}}">
              <h5 class="mb-0">{{section.subject}}</h5>
            </div>

            <div id="{{section.id}}" class="collapse{% if section.open %} show{% endif %}" aria-labelledby="headingOne" data-parent="#accordionExample">
              <ul class="list-inline list-docs">
                {% for article in section.data %}
                <li>
                  <a {% if article.url %}href="{{article.url}}"{% endif %} target="_blank">{{article.title}}</a> &sdot; {{article.date}} 
                  {% if article.meta %}<br> <i class="meta">{{article.meta}}</i>{% endif %}{% if article.top %} <i>Top {{article.top}}% of submissions.</i>{% endif %}
                  {% if article.authors %}
                  <br><span class="authors">
                    With
                    {% for author in article.authors %}{% if forloop.first %}{{author}}{% elsif forloop.last %} & {{author}}{% else %}, {{author}}{% endif %}{% endfor %}.
                  </span>
                  {% endif %}
                  {% if article.press %}
                  <br>
                  <span class="press">
                    <i class="fas fa-rss-square"></i> 
                    {% for press in article.press %}
                      {% if forloop.first %}{% elsif forloop.last %}
                        & 
                      {% else %}
                        , 
                      {% endif %}
                      <a href="{{press.url}}">{{press.venue}}</a>{% endfor %}.
                  </span>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
    </div>
  </div>

</section>